#  List opertations

### Copy

In [184]:
names = ["Victor", "Peter", "Mary", "John", "Badara", "Peer"]
copy_name = names.copy()
print(copy_name)

['Victor', 'Peter', 'Mary', 'John', 'Badara', 'Peer']

## using an index, replace "Peer" with "Malcom X"

In [185]:
names[1] = "Malcom X"
names

['Victor', 'Malcom X', 'Mary', 'John', 'Badara', 'Peer']

# Add two names to the list of names

# Extend the list

In [186]:
new_list= ["Waheed", "Lydia"]

In [187]:
names.extend(new_list)
names

['Victor', 'Malcom X', 'Mary', 'John', 'Badara', 'Peer', 'Waheed', 'Lydia']

# Reverse names

In [188]:
names.reverse()
names

['Lydia', 'Waheed', 'Peer', 'Badara', 'John', 'Mary', 'Malcom X', 'Victor']

In [189]:
# get the index of 'Peer'
index = names.index('Peer')
index

2

In [190]:
# append 'Yen' to the list
names.append('Jerry')
print(names)

['Lydia', 'Waheed', 'Peer', 'Badara', 'John', 'Mary', 'Malcom X', 'Victor', 'Jerry']

In [191]:
# 'Bella' is inserted at index 3 (4th position)
names.insert(3, 'Bella')
print(names)

['Lydia', 'Waheed', 'Peer', 'Bella', 'Badara', 'John', 'Mary', 'Malcom X', 'Victor', 'Jerry']

In [192]:
# remove "John" from the list

names.remove("John")
print(names)

['Lydia', 'Waheed', 'Peer', 'Bella', 'Badara', 'Mary', 'Malcom X', 'Victor', 'Jerry']

In [193]:
# check the count of 'Peer'
count = names.count('Bella')
print('Count of Bella:', count)

Count of Bella: 1

In [194]:
# remove the element at index 2
removed_element = names.pop(2)
print('Removed Element:', removed_element)
print('Updated List:', names)

Removed Element: Peer
Updated List: ['Lydia', 'Waheed', 'Bella', 'Badara', 'Mary', 'Malcom X', 'Victor', 'Jerry']

In [195]:
# sorting the list in ascending order
names.sort()
print(names)

['Badara', 'Bella', 'Jerry', 'Lydia', 'Malcom X', 'Mary', 'Victor', 'Waheed']

In [196]:
# remove all elements
#names.clear()
#print("cleared elements", names)

# Loop in Python

In [197]:
for nam in names:
    print(nam)

Badara
Bella
Jerry
Lydia
Malcom X
Mary
Victor
Waheed

In [201]:

bnames = ["Felipe", "Gonzalez"]
full_string = ""
for b in bnames:
    full_string +=f"{b} "
    
print(full_string)

Felipe Gonzalez